body {
  display: flex;
  align-items: center; 
  justify-content: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#menu {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  z-index: 2;
  display: flex;
  flex-direction: column;
}
#menu > button {
  margin: 0 0 0.5em 0;
}
#main {
  position: relative;
  top: 0;
  left: 0;
  height: 100vmin;
  width: 100vmin;
  --item-size: calc(100%/var(--cells));
}
.animation-panel {
  position: absolute;
  top: calc(var(--generation) * var(--dtop) * var(--item-size));
  left: calc(var(--generation) * var(--dleft) * var(--item-size));
  width: 100%;
  height: 100%;
  overflow: visible;
  transition: top 1s, left 2s;
  transition-timing-function: cubic-bezier(0.065, 0.605, 0.895, 0.240);
}
.tile {
  border: calc(15vmin/var(--cells)) solid;
  box-sizing: border-box;
  top: calc(var(--row)*var(--item-size));
  left: calc(var(--column)*var(--item-size));
  position: absolute;
  border-color: rgb(255 255 255 / 30%) rgb(0 0 0 / 25%) rgb(0 0 0 / 35%) rgb(255 255 255 / 25%);
}
.top {
  background-color: blue;
  width: calc(var(--item-size)*2);
  height: var(--item-size);
}
.bottom {
  background-color: green;
  width: calc(var(--item-size)*2);
  height: var(--item-size);
}
.left {
  background-color: orange;
  width: var(--item-size);
  height: calc(var(--item-size)*2);
}
.right {
  background-color: red;
  width: var(--item-size);
  height: calc(var(--item-size)*2);
}
.new {
  background: #808080;
  width: calc(var(--item-size)*2);
  height: calc(var(--item-size)*2);
  z-index: -1;
  animation: fadeIn 2s;
}
@keyframes fadeIn {
  from { opacity: 0;}
  to {opacity: 1;}
}